@import './fonts.css';
@import './base.css';

body {
  padding: 0;
  margin: 0;
}

#app {
  font-weight: normal;
  color: #fff;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper > * {
  width: 80%;
}

.bold, h2 {
  font-weight: 700;
}

.highlight {
  color: var(--sec-color)
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
